.section4-title{
    margin-bottom: 50px;
}

.section4-text{
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column !important;
}

.section4-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
