.section5-container{
    flex-direction: row;
}
.section5-rows-container{
    color: white;
    align-items: flex-start;
}
.section5-title{
    margin-right: 100px;
    flex-direction: row;
}
.section5-img{
    width:30px;
    height: 30px;
    margin-right: 10px;
}
.section5-row{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
