.timeline-title-transition-enter {
    opacity: 0.01;
}

.timeline-arm-img-div{
    width: 120px;
    height: 120px;
}

.timeline-arm-img{
    width: 100%;
    height: 100%;
    border-radius: 60px;
    box-shadow: 1px 1px 10px white
}

.section3-body{
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.section-body-middle{
    height: 25%;
    background-color: #09efcc;
    width: 1.1px;
    margin-top: auto;
    margin-bottom: auto;
}

.section3-body-left{
    margin-left: 50px;
    margin-right: 50px;
}

.section3-body-right-title{
    margin-left: 50px;
}

.timeline-title-transition-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.timeline-details-transition-enter {
     transform: translate(-100%);
 }

.timeline-details-transition-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in-out;
}

.timeline-achievements-transition-enter {
    transform: translateY(200%);
}

.timeline-achievements-transition-enter-active {
    transform: translateY(0%);
    transition: transform 500ms ease-in;
}
