.section2-left-container{
    max-width: 75%;
}

.section2-right{
    padding-right: 20px;
}

.section2-link-button{
    color: var(--jade);
    background-color: transparent;
    border: 0 black;
    font-size: 19px;
}

.section2-arrow{
    width:50px;
    height: 50px;
    cursor: pointer;
}


